body {
  color: #001524;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  color: #240046;
  font-size: 4em;
  font-weight: 900;
  margin: 2rem auto;
}

h1 i {
  margin-right: 16px;
}

button {
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

a:hover {
  color: #373737;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: #011738;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 2rem;
  }
}

.header .cont {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .cont h2 {
  font-weight: 700;
}

.header .cont .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #011738;
}

.header .cont .user .name {
  font-size: 1rem !important;
  font-weight: light !important;
}

.header .cont .user i {
  margin-left: 0.5em;
  font-size: 24px;
}

.header .cont .user a {
  font-size: 0.8em !important;
  margin-left: 2rem;
  text-decoration: none;
}

.header h2 {
  display: inline;
}

.header h2 i {
  margin-right: 0.5em;
}

/*********************************/
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

@media (max-width: 1024px) {
  .home {
    margin-top: 16px;
  }
}

.home .welcome {
  width: 50%;
}

@media (max-width: 1024px) {
  .home .welcome {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    font-size: 0.8rem;
  }
  .home .welcome p {
    text-align: center;
  }
  .home .welcome a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

.home .welcome h1 {
  margin-bottom: 32px;
  display: inline-block;
}

.home .welcome p {
  margin-bottom: 32px;
  text-align: left;
}

.home .img {
  margin: auto;
  width: 750px;
  margin-left: 32px;
}

@media (max-width: 1024px) {
  .home .img {
    display: none;
  }
}

/*********************************/
.connect {
  width: 100%;
  background: white;
  border-radius: 0.8em;
  margin: 0 auto 64px auto;
}

@media (max-width: 1024px) {
  .connect {
    width: 80%;
    padding: 0px !important;
  }
}

@media (max-width: 400px) {
  .connect {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.connect h2 {
  margin-bottom: 3rem;
}

.connect .login,
.connect .signup {
  min-width: 300px;
}

.connect .login a,
.connect .signup a {
  font-size: 1.2em !important;
}

.connect .illustration {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #00dbde;
  background-image: linear-gradient(50deg, #00dbde 0%, #fc00ff 100%);
}

@media (max-width: 1024px) {
  .connect .illustration {
    display: none;
  }
}

.hint {
  color: #495057;
  font-size: 0.8em;
  text-align: center;
  margin-top: 1rem;
}

.add-container {
  margin: 16px auto;
  background-color: #f8f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 8px;
}

.add-container p {
  display: inline;
  margin: 0;
}

td,
tr {
  vertical-align: middle;
}

.add {
  padding: 32px;
  width: 700px;
}

@media (max-width: 1024px) {
  .add {
    width: auto;
  }
}

@media (max-width: 770px) {
  .dashboard {
    padding: 16px !important;
    width: 100% !important;
  }
  .dashboard thead {
    display: none;
  }
  .dashboard tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .dashboard tbody tr {
    display: -ms-grid;
    display: grid;
  }
  .dashboard tbody tr th,
  .dashboard tbody tr td {
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .dashboard tbody tr td:last-of-type {
    margin-bottom: 16px;
  }
}

.profile h2 {
  margin-top: 0 !important;
}

.profile .avatar {
  font-size: 5em;
  text-align: center;
  margin: auto;
}

main,
section {
  background-color: white;
}

footer {
  padding: 16px;
  height: 60px;
  text-align: center;
  background-color: #f8f7f7;
  margin-top: auto;
}

footer span {
  color: #01173888;
}
/*# sourceMappingURL=main.css.map */
